.App {
  font-family: sans-serif;
  text-align: center;
}
.vis-react {
  border: none;
  padding: 2rem;
  display: block;
  margin: 0 auto;
}

canvas {
  background-color: rgb(82, 102, 82);
}
.vis-react-title {
  text-align: center;
}
